{
  "presets": [
    ["@babel/preset-env", {
      "targets": "ie 11"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-nullish-coalescing-operator",
    "@babel/plugin-transform-optional-chaining"
  ]
}
