{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "targets": [
                    "> 1%",
                    "not dead",
                    "not IE < 11",
                    "not op_mini all"
                ],
                "corejs": "3.34.0"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-nullish-coalescing-operator",
        "@babel/plugin-transform-optional-chaining"
    ]
}
