// COMMON BREAKPOINTS
$mobile-break: 480px;
$tablet-break: 768px;
$tablet-wide-break: 992px;
$desktop-break: 1200px;
$desktop-wide-break: 1400px;

// COMMON MAX-WIDTHS
$mobile-width: 480px;
$tablet-width: 870px;
$tablet-wide-width: 970px;
$desktop-width: 1140px;
$desktop-wide-width: 1340px;
